<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoMate"
        tools:targetApi="31">
        <activity
            android:name=".components.AppNavigation"
            android:exported="false"
            android:label="@string/title_activity_app_navigation"
            android:theme="@style/Theme.MemoMate" />
        <activity
            android:name=".ui.ui.pages.greetings.Greeting"
            android:exported="false"
            android:label="@string/title_activity_greeting"
            android:theme="@style/Theme.MemoMate" />
        <activity
            android:name=".ui.ui.Greeting"
            android:exported="false"
            android:label="@string/title_activity_greeting"
            android:theme="@style/Theme.MemoMate" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MemoMate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>